
.topbar-responsive {
  background: #c73032;
  padding: 1rem 1.5rem;
  font-family: fantasy;
}

.topbar-responsive .topbar-responsive-logo {
  color: #cacaca;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #c73032;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}



.portfolio-resume-scrolling-container {
  height: 400px;
  border: 1px solid #cacaca;
}

.portfolio-resume-overview {
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 0;
}

.portfolio-resume-overview:after {
  content: "";
  min-width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://github.com/JarrettHeller/DnD-Spells/blob/main/assets/demon.2.jpg?raw=true");
  background-repeat: inherit;
  background-size: contain;
  opacity: 0.5;
  z-index: 0;
}

.portfolio-resume-overview-content {
  max-width: 300px;
  z-index: 1;
}

.portfolio-resume-scrolling {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print, screen and (min-width: 40em) {
  .portfolio-resume-scrolling {
    height: 400px;
    overflow-y: auto;
  }
}

.background {
  background-image: url("https://images.squarespace-cdn.com/content/v1/59c33b7103596e418135845c/1592422928655-1W4ZJEZAVFYN4ULGKUQ9/ke17ZwdGBToddI8pDm48kKD2M9CL0p5FJ1lxK5ov6XpZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIzwuSgui8HcXIKug8Ei4ChbiYmLe_cBMeLmGlWrLEblYKMshLAGzx4R3EDFOm1kBS/FrostMaiden.jpg");
  
 
  top: 0;
  left: 0;
  background-repeat:repeat;
  background-size: 100%;
  opacity: 0.8;
  z-index: 0;
}

.card-section {
  min-height: 400px;
}


.card-reveal-wrapper {
  position: relative;
}

.card-reveal-wrapper .open-button,
.card-reveal-wrapper .close-button {
  cursor: pointer;
  float: right;
  font-size: 0.875rem;
  padding-left: 0.5rem;
  text-align: right;
  width: 100%;
}

.card-reveal-wrapper .card-reveal {
  background: #fefefe;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 100%;
  transition: top 0.6s ease-in-out;
}

.card-reveal-wrapper .card-reveal.open {
  top: 0;
  z-index: 1;
}

